.wave {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;
    z-index: 999999;
}

.wave svg {
    position: relative;
    display: block;
    width: calc(116% + 1.3px);
    height: 40vh;
}
.custom-shape-divider-top-1721904518 {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;
}

.custom-shape-divider-top-1721904518 svg {
    position: relative;
    display: block;
    width: calc(100% + 1.3px);
    height: 118px;
}
