
.nav-w {
    z-index: 100;
    pointer-events: none;
    color: var(--white);
    position: absolute;
    top: 0%;
    bottom: auto;
    left: 0%;
    right: 0%;
}
.nav-w.is--black {
    color: var(--black-secondary);
}
.nav-w.blend {
    mix-blend-mode: difference;
}
.nav-inner {
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 1.5em;
    display: flex;
    position: relative;
}
.nav-inner.is--inner__page {
    padding-top: 1.5rem;
    padding-bottom: 1.5rem;
}
.nav-inner.is--work {
    padding-top: 1.125rem;
    padding-bottom: 1.125rem;
}
.nav-col {
    grid-column-gap: 1.5rem;
    grid-row-gap: 1.5rem;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    display: flex;
}
.text-link {
    pointer-events: auto;
    text-transform: uppercase;
    cursor: pointer;
    margin: -1rem;
    padding: 1rem;
    font-size: 0.8125rem;
    line-height: 0.8;
    position: relative;
}
.text-link:focus {
    opacity: 0.6;
    box-shadow: 0 0 transparent;
}
.text-link.weight--600 {
    font-weight: 600;
}
.text-link.is--view {
    opacity: 0.25;
    transition: opacity 0.2s;
}
.text-link.is--view.is--active {
    opacity: 1;
}
a {
    background-color: transparent;
}
a:active,
a:hover {
    outline: 0;
}

.text-link {
    pointer-events: auto;
    text-transform: uppercase;
    cursor: pointer;
    margin: -1rem;
    padding: 1rem;
    font-size: 0.8125rem;
    line-height: 0.8;
    position: relative;
}
.text-link:focus {
    opacity: 0.6;
    box-shadow: 0 0 transparent;
}
.text-link.weight--600 {
    font-weight: 600;
}
.text-link.is--view {
    opacity: 0.25;
    transition: opacity 0.2s;
}
.text-link.is--view.is--active {
    opacity: 1;
}
.text-link.sm--pad {
    margin: -0.25rem;
    padding: 0.25rem;
}
.text-link {
    margin: -0.5rem;
    padding: 0.5rem;
}

.nav-inner {
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 1.5em;
    display: flex;
    position: relative;
}
.nav-inner.is--inner__page {
    padding-top: 1.5rem;
    padding-bottom: 1.5rem;
}
.nav-inner.is--work {
    padding-top: 1.125rem;
    padding-bottom: 1.125rem;
}
.nav-col {
    grid-column-gap: 1.5rem;
    grid-row-gap: 1.5rem;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    display: flex;
}
a{
    text-decoration: none;
    color: white;
}