#section2{
    position: relative;
}
#container3D canvas{
    position: absolute;

    width: 100%;
    height: 100%;
}
#section2 .blur{
    position: absolute;
    top: 0; 
    height: 100%;
    width: 100%;
    backdrop-filter: blur(2px) grayscale(100%);
}
#section2 h1{
    height: 100%;
    z-index: 999;
    color: #fff;
}