*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    /* cursor: none!important; */
}
*::-webkit-scrollbar{
    display: none;
}
body,html{
    width: 100%;
    height: 100%;
    scroll-behavior: none;
    overflow-x: hidden !important;
    /* cursor: none; */
}

.page0{
    width: 100%;
}

.page0 header li{
    list-style: none;
}

.page0 header a{
    text-decoration: none;
    color: rgb(255, 255, 255);
    font-size: 1rem;
}

.page0 header{
    position: relative;
    padding: 15px 2rem;
}

.page0 header .navbar{
    width: 100%;
    height: 60px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.page0 header .navbar img{
    width: 50%;
    margin-top: 7%;
}
.page0 header .navbar a{
    font-size: 1.2rem;
    font-weight: bold;
    text-align: center;
}

.page0 header .navbar .links{
    display: flex;
    align-items: center;
    width: 90%;
    justify-content: space-around;
    gap: 2px;
}

.page0 header .navbar .toggle_btn{
    color: white;
    font-size: 1.5rem;
    cursor: pointer;
    display: none;
}

.page0 header .dropmenu{
    display: none;
    position: absolute;
    right: 2rem;
    top: 60px;
    height: 0;
    width: 300px;
    background-color: #0000009a;
    backdrop-filter: blur(15px);
    border-radius: 10px 10px 10px 50%;
    overflow: hidden;
    transition: height 0.2s ease;
}

.page0 header .dropmenu.open{
    height: 90vh;
}

.page0 header .dropmenu li{
    padding: 0.7rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

@media(max-width:992px){
    .page0 header .navbar .links,
    .page0 header .navbar .action-btn{
        display: none;
    }
    .page0 header .navbar .toggle_btn{
        display: block;
    }
    .page0 header .dropmenu{
        display: block;
    }
}

@media(max-width:576px){
    .page0 header .dropmenu{
        left: 2rem;
        width: unset;
    }
}


.text-link {
    pointer-events: auto;
    text-transform: uppercase;
    margin: -1rem;
    padding: 1rem;
    font-size: 0.8125rem;
    line-height: 0.8;
    position: relative;
}
.text-link::after {
    content: '';
    position: absolute;
    width: calc(100% - 2rem);
    transform: scaleX(0);
    height: 2px;
    bottom: calc(1rem - 12px);
    left: 1rem;
    background-color: currentColor;
    transform-origin: center left;
    transition: transform 0.4s cubic-bezier(0.51, 0, 0.08, 1);
}
@media (hover: hover) {
    .text-link:hover::after {
        transform: scaleX(1);
        transform-origin: center right;
    }
}
img{
    width: 100%;
    height: 100%;
    object-fit: contain;
}
.header-images .img{
    margin-bottom: 30%;
    height: 50vh;
    width: 20vw;
}
h1{
    text-transform: uppercase;
    font-size: 15vw;
    font-weight: 400;
    letter-spacing: -4px;
}

.horizontal{
    display: flex;
    width: 200vw;
    gap: 20vw;
}
.part1{
    height: 100vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: black;
    color: white;
}
.part1 h1{
    font-size: 15vw;
    text-align: center;
}
#section2 .part2{
    position: relative;
    height: 100vh;
    width: 100vw;
}
#section2 .part3{
    height: 100vh;
    width: 100vw;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    font-size: 19rem;

}
#section2 .part3 h1{
    font-size: 15vh;
    text-align: center;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}
.header-info{
    position: relative;
}
#container3D {
    position: relative;
    width: 100vw !important;
    height: 100vh !important;
    background-color: rgb(255, 255, 255);
}
#container3D canvas {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}


.about_us .displacement{
    filter: url(#displacementFilter);
}

.about_us svg{
    width: 100%;
    height: 100vh;
}
.about_us{
    display:grid;
    grid-template-columns: repeat(auto-fit, minmax(500px, 1fr));
    background-color: black;
    color: white;
}
.about_us .part2{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 100vh;
    text-align: center;
}
@media screen and(max-width:800px) {
    .about_us .part2{
        height: 200vh;
    }
}
.about_us .part2 .aboutus_0{
    margin-bottom: 1.5em;
    font-weight: bolder;
    font-size: 3rem;
}
.about_us .part2 .aboutus_1{
    font-size: 1.5rem;
    color: rgb(161, 165, 169);
}
.about_us .part2 .aboutus_2{
    font-size: 2rem;
}
.about_us .part2 .aboutus_3{
    font-size: 2.2rem;
}
.about_us .part2 .aboutus_4{
    margin-top: 2em;
    font-size: 1.5rem;
    cursor: pointer;
}
.about_us_image{
    object-fit: inherit;
}
@media screen and (max-width:600px) {
    .header-info .header-images .hidden{
        display: none;
    }
    .header-info .header-images{
        gap: 15%;
    }
}
.page10 footer{
    position: relative;
    width: 100%;
    height: auto;
    padding: 50px 100px;
    background-color: black;
    background-repeat: no-repeat;
    background-size: cover;
}
.page10 footer .logo img{
    width: 273px;
}
.page10 footer .logo{
    display: grid;
    justify-content: center;
    align-items: center;
    margin-bottom: 50px;
}
.page10 footer .container{
    width: 100%;
    display: grid;
    grid-template-columns: 2fr 1fr 1fr;
    gap: 20px;
}
.page10 footer .container .sec h2{
    position: relative;
    color: white;
    font-weight: 500;
    margin-bottom:15px ;
}

.page10 footer .container .sec  p{
    color: white;
}
.page10 .sci{
    margin-top: 20px;
    display: grid;
    grid-template-columns: repeat(4,50px);
    gap: 10px;
}
.page10 .sci li{
    list-style: none;
}

.page10 .sci li a{
    display:inline-block;
    width: 48px;
    height: 48px;
    display: grid;
    justify-content: center;
    align-items: center;
    text-decoration: none;
}

.page10 .sci li a:hover{
    background-color: #84878632;
    border: 2px solid #84878632;
    border-radius: 50%;
}

.page10 .sci li a svg{
    color: white;
}
.page10 .quicklinks{
    position: relative;
}
.page10 .quicklinks li{
    list-style: none;
}

.page10 .quicklinks li a{
    color: white;
    text-decoration: none;
    margin-bottom: 10px;
    display: inline-block;
}
.page10 .info{
    position: relative;
}
.page10 .info li{
    display: grid;
    grid-template-columns: 30px 1fr;
    margin-bottom: 16px;
}
.page10 .info li span:nth-child(1){
    color: white;
}
.page10 .info li span{
    color: white;
}
.page10 .info a{
    color: white;
    text-decoration: none;
}
.page10 .copyrightText{
    width: 100%;
    padding: 8px 100px;
    background-color: black;
    text-align:left;
    color: white;
}

@media (max-width:991px) {
    .page10 footer{
        padding: 40px;
    }
    .page10 footer .container{
        grid-template-columns: repeat(2,1fr);
    }
    .page10 .copyrightText{
        padding: 8px 40px;
    }
}

@media (max-width:768px){
    .page10 footer .container{
        grid-template-columns: repeat(1,1fr);
    }
}
.page10 .copyrightText a{
    color: white;
    text-decoration: none;
}