*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
*::-webkit-scrollbar{
    display: none;
}
body,html{
    width: 100%;
    height: 100%;
    scroll-behavior: none;
    overflow-x: hidden !important;
}

.text-link {
    pointer-events: auto;
    text-transform: uppercase;
    cursor: pointer;
    margin: -1rem;
    padding: 1rem;
    font-size: 0.8125rem;
    line-height: 0.8;
    position: relative;
}
.text-link::after {
    content: '';
    position: absolute;
    width: calc(100% - 2rem);
    transform: scaleX(0);
    height: 2px;
    bottom: calc(1rem - 12px);
    left: 1rem;
    background-color: currentColor;
    transform-origin: center left;
    transition: transform 0.4s cubic-bezier(0.51, 0, 0.08, 1);
}
@media (hover: hover) {
    .text-link:hover::after {
        transform: scaleX(1);
        transform-origin: center right;
    }
}
img{
    width: 100%;
    height: 100%;
    object-fit: inherit;
}
.header-images .img{
    height: 50vh;
    width: 20vw;
}
h1{
    text-transform: uppercase;
    font-size: 200px;
    font-weight: 400;
    letter-spacing: -4px;
}

.horizontal{
    display: flex;
    width: 200vw;
    gap: 20vw;
}
.part1{
    height: 100vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: black;
    color: white;
}
.part1 h1{
    font-size: 19rem;
    text-align: center;
}
#section2 .part2{
    position: relative;
    height: 100vh;
    width: 100vw;
}
#section2 .part3{
    height: 100vh;
    width: 100vw;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    font-size: 19rem;

}
#section2 .part3 h1{
    font-size: 15rem;
    text-align: center;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}
.header-info{
    position: relative;
}
#container3D {
    position: relative;
    width: 100vw !important;
    height: 100vh !important;
    background-color: rgb(206, 201, 191);
}
#container3D canvas {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}


.about_us .displacement{
    filter: url(#displacementFilter);
}

.about_us svg{
    width: 100%;
    height: 100vh;
}
.about_us{
    display:grid;
    grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
    background-color: black;
    color: white;
}
.about_us .part2{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 100vh;
    text-align: center;
}
@media screen and(max-width:800px) {
    .about_us .part2{
        height: 200vh;
    }
}
.about_us .part2 .aboutus_0{
    margin-bottom: 1.5em;
    font-weight: bolder;
    font-size: 3rem;
}
.about_us .part2 .aboutus_1{
    font-size: 1.5rem;
    color: rgb(161, 165, 169);
}
.about_us .part2 .aboutus_2{
    font-size: 2rem;
}
.about_us .part2 .aboutus_3{
    font-size: 2.2rem;
}
.about_us .part2 .aboutus_4{
    margin-top: 2em;
    font-size: 1.5rem;
    cursor: pointer;
}

