*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
*::-webkit-scrollbar{
    display: none;
}
body,html{
    width: 100%;
    height: 100%;
    scroll-behavior: none;
    overflow-x: hidden;
}
img{
    width: 100%;
    height: 100%;
    object-fit: inherit;
}
.header-images .img{
    height: 50vh;
    width: 20vw;
}
h1{
    text-transform: uppercase;
    font-size: 200px;
    font-weight: 400;
    letter-spacing: -4px;
}

.horizontal{
    display: flex;
    width: 200vw;
    gap: 20vw;
}
.part1{
    height: 100vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: black;
    color: white;
}
.part1 h1{
    font-size: 19rem;
    text-align: center;
}
#section2 .part2{
    position: relative;
    height: 100vh;
    width: 100vw;
}
#section2 .part3{
    height: 100vh;
    width: 100vw;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    font-size: 19rem;

}
#section2 .part3 h1{
    font-size: 15rem;
    text-align: center;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}
.header-info{
    position: relative;
}
#container3D {
    position: relative;
    width: 100vw !important;
    height: 100vh !important;
    background-color: rgb(206, 201, 191);
}
#container3D canvas {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}